*{
    margin: 0;
    padding:0;
 }

  /* body{
     background-color: red;  
   background-image: url(https://images.pexels.com/photos/757889/pexels-photo-757889.jpeg?auto=compress&cs=tinysrgb&w=400);
   background-repeat: repeat; 
   background-position:cover ;
   background-position:left top; 
   } */

   /* body{
      background:rgb(250, 5, 5) url(https://images.pexels.com/photos/757889/pexels-photo-757889.jpeg?auto=compress&cs=tinysrgb&w=400)
      repeat right top;
   } */
 h1,
 span {
    background-color: rgb(30, 233, 57);
    color:rgb(235, 248, 239);
 }
div{
   color: rgb(9, 158, 158);
}

 a,
 b {
    color: rgb(76, 2, 145);
 }
.special{
   background-color: green;
color: antiquewhite;
}
#id-sector{
   color: aliceblue;
}
.border-example{
   color: rgb(7, 85, 109);
   /* border-width: 2px;
   border-style: dotted;
   border-color: rgb(24, 226, 145); 
   border: 2px solid pink; */
   padding: 5px;
   border-radius: 5px;
    /* margin: -20rem; 
   /* border-left: 2px solid goldenrod ;  */
} 
.red{
   background: #085544;
    padding: 10px;
     color: pink; 
    width: 40%;
    height: 100px;
    float: left;
}

.red2{
   background: rgb(13, 12, 73);
   padding: 8px;
   color: white;
   width: 40%;
   height: 100px;
   float: right;
}
p.dotted{
   outline-style: dotted;
   outline-color: red;
   outline-width: 2px;
}

p.dashed{
   outline-style: dashed;
   outline-color: #085544;
   outline-width: 2px;
}
p.solid{
   outline-style: solid;
   outline-color: hsl(36, 72%, 46%);
   outline-width: 2px;
}
p.double{
   outline-style: double;
   outline-color: hwb(180 0% 0%);
   outline-width: 2px;
}
p.ridge{
   outline-style: ridge;
   outline-color: hsl(90, 100%, 50%);
   outline-width: 2px;
}
 div,a{
   text-align: center;
   text-decoration: overline;
   text-transform: none;
   text-shadow: 2px 2px  5px #023741;
}
h2{
   text-align: justify;
   text-decoration: upper line;
   text-transform: lowercase;
   text-shadow: 2px 2px 5px #ff0000;
}
p{
   text-align: center;
   text-decoration: overline;
   text-transform: uppercase;
   text-shadow: 2px 2px 5px #690372;
}